<%= form_for(@entity) do |f| %>
  <% if @entity.errors.any? %>
    <div id="error_explanation">
      <h2>Ops!! Encontrado(s) <%= pluralize(@entity.errors.count, "erro") %>:</h2>

      <ul>
      <% @entity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Nome:</label><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "Criar" %>
  </div>
<% end %>
