<div id="entity_data">
	<h1>Opiniões da Entidade :: <%= @entity.name.force_encoding("UTF-8") %></h1>

	<form method="post" action="/opinions/process_opinions/<%= @entity.id %>" class="button_to">
		<input type="submit" value="Processar", class="button right" />
	</form>
	<%= link_to '« Voltar', entities_path %>
</div>

<br>

<% acertos, erros = 0, 0 %>

<script type="text/javascript">
	$(function() {
		$("#tabs").tabs();
	});
</script>

<div id="tabs">
	<ul>
		<li><a href="#opinions">Opiniões</a></li>
		<li><a href="#corrected-opinions">Fase de Correção</a></li>
		<li><a href="#cleaned-opinions">Fase da Limpeza</a></li>
		<li><a href="#affective-polarity">Valência Afetiva Obtida</a></li>
		<li><a href="#results-avaliation">Avaliação dos Resultados</a></li>
		<li><a href="#resumed-results">Resultados Resumidos</a></li>
	</ul>
	
	<div id="opinions" class="opinions">
		<table>
		  <thead>
		    <th>Nº</th>
		    <th>Opinião</th>
		  </thead>
		<% @i=1 %>
		<% @opinions.each do |opinion| %>
		  <tr>
		    <td><%= @i %></td>
		    <td><%= opinion.opinion_text.force_encoding("UTF-8") %></td>
		  </tr>
		  <% @i = @i + 1 %>
		<% end %>
		</table>
		<br>
		<%= form_for [@entity, Opinion.new] do |f| %>
		  <div class="field">
		    Adicionar Opinião<br />
		    <%= f.text_area :opinion_text, :rows => 6, :cols => 60 %>
				<br><br>
				Score Humano<br />
				<%= f.select :human_score, %w(Positivo Negativo) %>
		  </div>
		  <div class="actions">
		    <%= f.submit "Adicionar", :class => "button" %>
		  </div>
		<% end %>
	</div>
	
	<div id="corrected-opinions" class="opinions">
		<table>
		  <thead>
		    <th>Nº</th>
		    <th>Opinião Corrigida</th>
		  </thead>
		<% @i=1 %>
		<% @corrected_opinions.each do |corrected_op| %>
		  <tr>
		    <td><%= @i %></td>
		    <td><%= corrected_op.corrected_opinion_text.force_encoding("UTF-8") %></td>
		  </tr>
		  <% @i = @i + 1 %>
		<% end %>
		</table>
	</div>
	
	<div id="cleaned-opinions" class="opinions">
		<table>
		  <thead>
		    <th>Nº</th>
		    <th>Opinião Limpa</th>
		  </thead>
		<% @i=1 %>
		<% @cleaned_opinions.each do |cleaned_op| %>
		  <tr>
		    <td><%= @i %></td>
		    <td><%= cleaned_op.cleaned_opinion_text.force_encoding("UTF-8") %></td>
		  </tr>
		  <% @i = @i + 1 %>
		<% end %>
		</table>
	</div>
	
	<div id="affective-polarity" class="opinions">
		<table>
		  <thead>
		    <th>Nº</th>
				<th>Opinião</th>
				<th>Palavras/Valências</th>
		  </thead>
		<% @i=1 %>
		<% @opinions.each do |opinion| %>
		  	<tr>
		    	<td><%= @i %></td>
					<td><%= opinion.opinion_text %></td>
					<td>
						<%= " <b> #{opinion.polarity} </b>".html_safe %>
						<% OpinionSentence.where(:opinion_id => opinion.id).each do |sentence| %>
							<%= " (  " %>
							<% PolarityOpinionWord.where(:opinion_sentence_id => sentence.id).each do |pow| %>
								<%= "<i>#{pow.word.force_encoding("UTF-8")}</i> => pos: #{pow.pos} ~ neg: #{pow.neg} | ".html_safe %>
							<% end %>
							<%= ") |      " %>
						<% end %>
					</td>
		  		</tr>
		  	<% @i = @i + 1 %>
		<% end %>
		</table>
	</div>
	
	<div id="results-avaliation" class="opinions">
		<table>
			<thead>
				<th>Nº</th>
				<th>Score de Humanos</th>
				<th>Valência cedida pelo sistema</th>
				<th>Resultado</th>
		  </thead>
		<% @i=1 %>
		<% pp, np, pe, ne = 0, 0, 0, 0 %>
		<% @opinions.each do |opinion| %>
		  	<tr>
		    	<td><%= @i %></td>
					<% hs = opinion.human_score.force_encoding("UTF-8") %>
					<% if hs == "Positivo" %>
						<td style='background-color:#CDEB8B;'><b><%= hs %></td>
					<% elsif hs == "Neutro" %>
						<td><b><%= hs %></b></td>
					<% else %>
						<td style="background-color:#E35B5B;"><b><%= hs %></b></td>
					<% end %>
					<% polarity = opinion.polarity.force_encoding("UTF-8") unless opinion.polarity == nil %>
					<% if polarity == "Positivo" %>
						<td style="background-color:#CDEB8B;"><b><%= ss = "Positivo" %></b></td>
				 	<% elsif polarity == "Negativo" %>
						<td style="background-color:#E35B5B;"><b><%= ss = "Negativo" %></b></td>
					<% else %>
						<td><b><%= ss = "Neutro" %></b></td>
					<% end %>
					<% if hs == ss %>
						<td style='color:green;'><b>Acerto</b></td>
						<% acertos = acertos+1 %>
						<% if hs == "Positivo" %>
							<% pp = pp+1 %>
						<% else %>
							<% np = np+1 %>
						<% end%>
					<% else %>
						<td style="color:red;"><b>Erro</b></td>
						<% erros = erros+1 %>
							<% if hs == "Positivo" %>
								<% pe = pe+1 %>
							<% else %>
								<% ne = ne+1 %>
							<% end%>
					<% end %>
		  	</tr>
		  	<% @i = @i + 1 %>
		<% end %>
		</table>
	</div>
	<div id="resumed-results" class="opinions">
		<p> <label>Acertos:</label> <%= acertos %> </p>
		<p> <label>Erros:</label> <%= erros %> </p>
		<% taxa = (acertos.to_f / (@i-1).to_f)*100 %>
		<p> <label>Taxa de Acerto:</label> <%= number_to_percentage(taxa) %></p>
			<script type="text/javascript">

						var chart;
						$(document).ready(function() {
							chart = new Highcharts.Chart({
								chart: {
									renderTo: 'container',
									plotBackgroundColor: null,
									plotBorderWidth: null,
									plotShadow: false
								},
								title: {
									text: 'Taxa de Acertos'
								},
								tooltip: {
									formatter: function() {
										return '<b>'+ this.point.name +'</b>: '+ this.y;
									}
								},
								plotOptions: {
									pie: {
										allowPointSelect: true,
										cursor: 'pointer',
										dataLabels: {
											enabled: true
										},
										showInLegend: true
									}
								},
							    series: [{
									type: 'pie',
									name: ' ',
									data: [
										['Acertos',   <%= acertos %>],
										['Erros',      <%= erros %>]
									]
								}]
							});
						});

					</script>
			<div id="container" style="width: 600px; height: 400px; margin: 0 auto; margin-bottom: 30px;"></div>
			<br><br>
			<div style="text-align:center">
			<script type="text/javascript">

						var chart;
						$(document).ready(function() {
							chart = new Highcharts.Chart({
								chart: {
									renderTo: 'container2',
									plotBackgroundColor: null,
									plotBorderWidth: null,
									plotShadow: false
								},
								title: {
									text: 'Opiniões positivas'
								},
								tooltip: {
									formatter: function() {
										return '<b>'+ this.point.name +'</b>: '+ this.y;
									}
								},
								plotOptions: {
									pie: {
										allowPointSelect: true,
										cursor: 'pointer',
										dataLabels: {
											enabled: true
										},
										showInLegend: true
									}
								},
							    series: [{
									type: 'pie',
									name: ' ',
									data: [
										['Acertos',   <%= pp %>],
										['Erros',      <%= pe %>]
									]
								}]
							});
						});

					</script>
			<div id="container2" style="width: 350px; height: 300px; margin: 0 auto; margin-bottom: 30px;float:left;padding-left:50px;"></div>
			<script type="text/javascript">

						var chart;
						$(document).ready(function() {
							chart = new Highcharts.Chart({
								chart: {
									renderTo: 'container3',
									plotBackgroundColor: null,
									plotBorderWidth: null,
									plotShadow: false
								},
								title: {
									text: 'Opiniões negativas'
								},
								tooltip: {
									formatter: function() {
										return '<b>'+ this.point.name +'</b>: '+ this.y;
									}
								},
								plotOptions: {
									pie: {
										allowPointSelect: true,
										cursor: 'pointer',
										dataLabels: {
											enabled: true
										},
										showInLegend: true
									}
								},
							    series: [{
									type: 'pie',
									name: ' ',
									data: [
										['Acertos',   <%= np %>],
										['Erros',      <%= ne %>]
									]
								}]
							});
						});

					</script>
			<div id="container3" style="width: 350px; height: 300px; margin: 0 auto; margin-bottom: 30px;float:left;"></div>
			<div>
	</div>
</div>