<div id="entity_data">
	<h1>Opiniões da Entidade :: <%= @entity.name.force_encoding("UTF-8") %></h1>

	<%= button_to "Processar", :controller => :opinions, :action => :process_opinions, :id => @entity.id %>
	<%= link_to '« Voltar', entities_path %>
</div>

<br>

<% acertos, erros = 0, 0 %>

<script type="text/javascript">
	$(function() {
		$("#tabs").tabs();
	});
</script>

<div id="tabs">
	<ul>
		<li><a href="#opinions">Opiniões</a></li>
		<li><a href="#corrected-opinions">Fase de Correção</a></li>
		<li><a href="#cleaned-opinions">Fase da Limpeza</a></li>
		<li><a href="#affective-polarity">Valência Afetiva Obtida</a></li>
		<li><a href="#results-avaliation">Avaliação dos Resultados</a></li>
		<li><a href="#resumed-results">Resultados Resumidos</a></li>
	</ul>
	
	<div id="opinions" class="opinions">
		<table>
		  <thead>
		    <th>Nº</th>
		    <th>Opinião</th>
		  </thead>
		<% @i=1 %>
		<% @opinions.each do |opinion| %>
		  <tr>
		    <td><%= @i %></td>
		    <td><%= opinion.opinion_text.force_encoding("UTF-8") %></td>
		  </tr>
		  <% @i = @i + 1 %>
		<% end %>
		</table>
		<br>
		<%= form_for [@entity, Opinion.new] do |f| %>
		  <div class="field">
		    Adicionar Opinião<br />
		    <%= f.text_area :opinion_text, :rows => 6, :cols => 60 %>
		  </div>
		  <div class="actions">
		    <%= f.submit "Adicionar" %>
		  </div>
		<% end %>
	</div>
	
	<div id="corrected-opinions" class="opinions">
		<table>
		  <thead>
		    <th>Nº</th>
		    <th>Opinião Corrigida</th>
		  </thead>
		<% @i=1 %>
		<% @corrected_opinions.each do |corrected_op| %>
		  <tr>
		    <td><%= @i %></td>
		    <td><%= corrected_op.corrected_opinion_text.force_encoding("UTF-8") %></td>
		  </tr>
		  <% @i = @i + 1 %>
		<% end %>
		</table>
	</div>
	
	<div id="cleaned-opinions" class="opinions">
		<table>
		  <thead>
		    <th>Nº</th>
		    <th>Opinião Limpa</th>
		  </thead>
		<% @i=1 %>
		<% @cleaned_opinions.each do |cleaned_op| %>
		  <tr>
		    <td><%= @i %></td>
		    <td><%= cleaned_op.cleaned_opinion_text.force_encoding("UTF-8") %></td>
		  </tr>
		  <% @i = @i + 1 %>
		<% end %>
		</table>
	</div>
	
	<div id="affective-polarity" class="opinions">
		<table>
		  <thead>
		    <th>Nº</th>
				<th>Opinião</th>
				<th>Palavras/Valências</th>
		  </thead>
		<% @i=1 %>
		<% @opinions.each do |opinion| %>
			<% polarity_opinion_word = PolarityOpinionWord.where(:opinion_id => opinion.id).all %>
		  <tr>
		    <td><%= @i %></td>
				<td><%= opinion.opinion_text %></td>
				<td>
					<% polarity_opinion_word.each do |pow| %>
						<%= "#{pow.word.force_encoding("UTF-8")} ~ #{pow.polarity.force_encoding("UTF-8")} | " %>
					<% end unless polarity_opinion_word.nil? %>
				</td>
		  </tr>
		  <% @i = @i + 1 %>
		<% end %>
		</table>
	</div>
	
	<div id="results-avaliation" class="opinions">
		<table>
			<thead>
				<th>Nº</th>
				<th>Score de Humanos</th>
				<th>Valência cedida pelo sistema</th>
				<th>Resultado</th>
		  </thead>
		<% @i=1 %>
		<% @opinions.each do |opinion| %>
			<% polarity_opinion_word = PolarityOpinionWord.where(:opinion_id => opinion.id).all %>
			<% negative,positive = 0,0 %>
			<% polarity_opinion_word.each do |pow| %>
				<% if pow.polarity == "+" %>
					<% positive += 1%>
				<% else %>
					<% negative += 1%>
				<% end %>
			<% end unless polarity_opinion_word.nil? %>
		  <tr>
		    <td><%= @i %></td>
				<% hs = opinion.human_score.force_encoding("UTF-8") %>
				<% if opinion.human_score.force_encoding("UTF-8") == "Positivo" %>
					<td style='background-color:#CDEB8B;'><b><%= hs %></td>
				<% elsif opinion.human_score.force_encoding("UTF-8") == "Neutro" %>
					<td><b><%= hs %></b></td>
				<% else %>
					<td style="background-color:#E35B5B;"><b><%= hs %></b></td>
				<% end %>
				<% if positive > negative %>
					<td style="background-color:#CDEB8B;"><b><%= ss = "Positivo" %></b></td>
				 <% elsif positive == negative %>
					<td><b><%= ss = "Neutro" %></b></td>
				<% else %>
					<td style="background-color:#E35B5B;"><b><%= ss = "Negativo" %></b></td>
				<% end %>
				<% if hs == ss %>
					<td style='background-color:#CDEB8B;'><b>Acerto</b></td>
					<% acertos = acertos+1 %>
				<% else %>
					<td style="background-color:#E35B5B;"><b>Erro</b></td>
					<% erros = erros+1 %>
				<% end %>
		  </tr>
		  <% @i = @i + 1 %>
		<% end %>
		</table>
	</div>
	
	<div id="resumed-results" class="opinions">
		<p> <label>Acertos:</label> <%= acertos %> </p>
		<p> <label>Erros:</label> <%= erros %> </p>
		<% taxa = (acertos.to_f / @i.to_f)*100 %>
		<p> <label>Taxa de Acerto:</label> <%= number_to_percentage(taxa) %></p>
			<script type="text/javascript">

						var chart;
						$(document).ready(function() {
							chart = new Highcharts.Chart({
								chart: {
									renderTo: 'container',
									plotBackgroundColor: null,
									plotBorderWidth: null,
									plotShadow: false
								},
								title: {
									text: ' '
								},
								tooltip: {
									formatter: function() {
										return '<b>'+ this.point.name +'</b>: '+ this.y;
									}
								},
								plotOptions: {
									pie: {
										allowPointSelect: true,
										cursor: 'pointer',
										dataLabels: {
											enabled: true
										},
										showInLegend: true
									}
								},
							    series: [{
									type: 'pie',
									name: ' ',
									data: [
										['Acertos',   <%= acertos %>],
										['Erros',      <%= erros %>]
									]
								}]
							});
						});

					</script>
			<div id="container" style="width: 600px; height: 400px; margin: 0 auto; margin-bottom: 30px;"></div>
	</div>
</div>