<div id="entity_data">
	<h1>Opiniões da Entidade :: <%= @entity.name%></h1>

	<%= button_to "Processar", :controller => :opinions, :action => :process_opinions, :id => @entity.id %>
	<%= link_to '« Voltar', entities_path %>
</div>

<br>

<script type="text/javascript">
	$(function() {
		$("#tabs").tabs();
	});
</script>

<div id="tabs">
	<ul>
		<li><a href="#opinions">Opiniões</a></li>
		<li><a href="#corrected-opinions">Correção</a></li>
		<li><a href="#cleaned-opinions">Limpeza</a></li>
		<li><a href="#affective-polarity">Valencia Afetiva</a></li>
	</ul>
	
	<div id="opinions" class="opinions">
		<table>
		  <thead>
		    <th>Nº</th>
		    <th>Opinião</th>
		  </thead>
		<% @i=1 %>
		<% @opinions.each do |opinion| %>
		  <tr>
		    <td><%= @i %></td>
		    <td><%= opinion.opinion_text.force_encoding("UTF-8") %></td>
		  </tr>
		  <% @i = @i + 1 %>
		<% end %>
		</table>
		<br>
		<%= form_for [@entity, Opinion.new] do |f| %>
		  <div class="field">
		    Adicionar Opinião<br />
		    <%= f.text_area :opinion_text, :rows => 6, :cols => 60 %>
		  </div>
		  <div class="actions">
		    <%= f.submit "Adicionar" %>
		  </div>
		<% end %>
	</div>
	
	<div id="corrected-opinions" class="opinions">
		<table>
		  <thead>
		    <th>Nº</th>
		    <th>Opinião Corrigida</th>
		  </thead>
		<% @i=1 %>
		<% @corrected_opinions.each do |corrected_op| %>
		  <tr>
		    <td><%= @i %></td>
		    <td><%= corrected_op.corrected_opinion_text.force_encoding("UTF-8") %></td>
		  </tr>
		  <% @i = @i + 1 %>
		<% end %>
		</table>
	</div>
	
	<div id="cleaned-opinions" class="opinions">
		<table>
		  <thead>
		    <th>Nº</th>
		    <th>Opinião Limpa</th>
		  </thead>
		<% @i=1 %>
		<% @cleaned_opinions.each do |cleaned_op| %>
		  <tr>
		    <td><%= @i %></td>
		    <td><%= cleaned_op.cleaned_opinion_text.force_encoding("UTF-8") %></td>
		  </tr>
		  <% @i = @i + 1 %>
		<% end %>
		</table>
	</div>
	
	<div id="affective-polarity" class="opinions">
		<table>
		  <thead>
		    <th>Nº</th>
				<th>Score de Humanos</th>
				<th>Soma das Valencias</th>
				<th>Valência cedida pelo sistema</th>
		  </thead>
		<% @i=1 %>
		<% @opinions.each do |opinion| %>
      <% polarity_opinion_word = PolarityOpinionWord.where(:opinion_id => opinion.id).all %>
			<% negative,positive = 0,0 %>
			<% polarity_opinion_word.each do |pow| %>
				<% if pow.polarity == "+" %>
					<% positive += 1%>
				<% else %>
					<% negative += 1%>
				<% end %>
			<% end unless polarity_opinion_word.nil? %>
		  <tr>
		    <td><%= @i %></td>
				<td><%= opinion.human_score.force_encoding("UTF-8") %></td>
				<td>
					<% if positive > negative %> Positivo <% else if positive == negative %> Neutro <% else %> Negativo <% end end %>
				</td>
				<td>
					<% polarity_opinion_word.each do |pow| %>
						<%= "#{pow.word.force_encoding("UTF-8")} ~ #{pow.polarity.force_encoding("UTF-8")} | " %>
					<% end unless polarity_opinion_word.nil? %>
				</td>
		  </tr>
		  <% @i = @i + 1 %>
		<% end %>
		</table>
	</div>
	
</div>